<div class="user">
  <h2>First way to get input data and display</h2>
  <p class="user__desc">without ngModel</p>
  <div class="user__form">
    <label>Type user name</label>
    <input (input)="setUserName($event)" type="text" />
  </div>
  <p>{{ userName_1 }}</p>
</div>

<div class="user">
  <h2>Secound way to get input data and display</h2>
  <p class="user__desc">with ngModel</p>
  <div class="user__form">
    <label>Type user name</label>
    <input [(ngModel)]="userName_2" type="text" />
    <button [disabled]="setDisableButton()" (click)="resetValue()">
      Reset
    </button>
  </div>
  <p>{{ userName_2 }}</p>
</div>
